@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue&display=swap');


* {
    background-color:#111010;
}

:root {
    --font-fugaz: "Fugaz One";
    --font-epilogue: "Epilogue";
}

#mainName{
    color:white;
    margin-top:2vw;
    font-size:7vw;
    font-family:var(--font-fugaz);
}

#landingPage{
    text-align:center;
    width:100%;
    height:100%;
}

#slogan{
    color:#955CB8;
    font-size:2vw;
    font-family:var(--font-fugaz);
}

#featureOne{
    margin-top:2.5vw;
    font-size:2vw;
    color:white;
    font-family:var(--font-epilogue);
}

#line{
    color:white;
    
}

#featureHeader{
    margin-top:0vw;
    font-size:2vw;
    color:#5D9D76;
    font-family:var(--font-epilogue);
}

#featureTwo{
    margin-top:2.5vw;
    font-size:1.5vw;
    color:white;
    font-family:var(--font-epilogue);
}

#featureThree{
    
    font-size:1.5vw;
    color:white;
    font-family:var(--font-epilogue);
}

#highlight{
    color:#955CB8;
}

#buttons{
    margin-top:2vw;
    font-size:3vw;
    font-family:var(--font-epilogue);
    color:white;
}

#signupButton{
    color:white;
    width:14%;
    border-radius: 1vw;
    background-color: #265F3D;
    border:none;
    margin-right:0.5vw;
}

#signupButton:hover{
    background-color: #5D9D76;
}

#loginButton{
    color:white;
    width:14%;
    border-radius: 1vw;
    background-color: #49265F;
    border:none;
    margin-left:0.5vw;
}

#loginButton:hover{
    background-color: #955CB8;

}


@media only screen and (max-width: 900px) {
    #mainName{
        margin-top:27vw;
        font-size:20vw;
    }

    #slogan{
        font-size:7vw;
    }

    #featureOne{
        margin-top:10vw;
        font-size:7vw;
    }

    #featureHeader{
        font-size:7vw;
    }

    #featureTwo{
        margin-top:7vw;
        font-size:5vw;
    }

    #featureThree{
        font-size:5vw;
    }

    #buttons{
        margin-top:15vw;
    }

    #signupButton{
        width:30%;
        font-size:7vw;
        margin-right:3vw;
    }

    #loginButton{
        width:30%;
        font-size:7vw;
        margin-left:3vw;
    }
}

